---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout/Layout.astro";
import { getFilmsService } from "../../components/views/films/services/getFilmsService";

export const getStaticPaths = (async () => {
  const films = await getFilmsService({ totalPages: 3 });

  const pages = films.map((film) => ({
    params: { id_title: `${film.id}_${film.title}` },
    props: {
      title: film.title,
      backdrop: film.backdrop,
    },
  }));

  return pages;
}) satisfies GetStaticPaths;

const { title, backdrop } = Astro.props;
---

<Layout title={title}>
  <h1>
    {title}
  </h1>
  <img src={backdrop} alt={title} />
</Layout>
