---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout/Layout.astro";
import { ROUTER } from "../router";
import Paged from "../../components/pageds/Paged/Paged.astro";
import { getFilmsService } from "./services/getFilmsService";
import ListFilms from "./ListFilms/ListFilms.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const films = await getFilmsService({ totalPages: 3 });
  return paginate(films, { pageSize: 4 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

page.url.next;
page.url.prev;
---

<Layout title={ROUTER.films.display}>
  <div class="films">
    <ListFilms films={page.data} />
    <Paged
      prev={page.url.prev}
      next={page.url.next}
      currentPage={page.currentPage}
    />
  </div>
</Layout>

<style>
  .films {
    display: grid;
    gap: 1rem;
    align-content: center;
    height: 100%;
  }
</style>
