---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout/Layout.astro";
import { getFilmsService } from "../../components/views/films/services/getFilmsService";
import { normalize } from "../../utils/normalize";

export const getStaticPaths = (async () => {
  const films = await getFilmsService({ totalPages: 3 });

  const pages = films.map((film) => ({
    params: {
      title: normalize(film.title),
    },
    props: {
      title: film.title,
      backdrop: film.backdrop,
      poster: film.poster,
    },
  }));

  return pages;
}) satisfies GetStaticPaths;

const { title, backdrop, poster } = Astro.props;
---

<Layout title={title} img={poster} description={`Detalles sobre ${title}`}>
  <h1>
    {title}
  </h1>
  <img src={backdrop} alt={title} />
</Layout>
