---
import { ViewTransitions } from "astro:transitions";
import Nav from "../../components/navs/Nav/Nav.astro";
import "../../styles/scales.css";
import "../../styles/colors.css";
import "../../styles/fonts.css";
import "../../styles/reset.css";
import { META_SITE } from "./metaSite";

interface Props {
  title?: string;
  img?: string;
  description?: string;
  author?: string;
}

const {
  title = META_SITE.title,
  description = META_SITE.description,
  author = META_SITE.author,
  img = META_SITE.img,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content={author} />

    <!--OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={img} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header><Nav /></header>
    <main>
      <slot />
    </main>
    <footer>©️Casi todos los derechos reservados</footer>
  </body>
</html>

<style>
  :root {
    --border: 1px solid var(--brr);
    --mw-layout: 1300px;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-left: auto;
    margin-right: auto;

    min-height: 100vh;
    max-width: var(--mw-layout);
  }
</style>
