---
import { ROUTER } from "../../../pages/router";
import GoToPage from "../../hyperlinks/GoToPage/GoToPage.astro";
---

<nav class="nav">
  <GoToPage href={ROUTER.index.path}>{ROUTER.index.display}</GoToPage>
  <GoToPage href={ROUTER.films.path + "1"}>{ROUTER.films.display}</GoToPage>
  <GoToPage href={ROUTER.favorites.path}>{ROUTER.favorites.display}</GoToPage>
</nav>

<style>
  .nav {
    display: flex;
    gap: var(--lg);
    font-size: 2rem;
  }
</style>
